@model Employee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="color:black; text-align:center">Employe Detail</h2>

<a asp-action="Delete" asp-controller="Employee" asp-route-id=@Model.EmployeeId class="btn btn-danger">Çalışan Sil</a>
<a asp-action="Update" asp-controller="Employee" asp-route-id="@Model.EmployeeId" class="btn btn-warning">Çalışan Güncelle</a>

<h1>@Model.FirstName @Model.LastName</h1>

<div class="row">
    <div class="col-6">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>İl</th>
                    <th>Adress</th>
                    <th>Doğum Tarihi</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.City</td>
                        <td>@Model.Address</td>
                        <td>@Model.BirthDate</td>
                    </tr>
                
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="col-2">
        <a asp-controller="Employee" asp-action="Index" class="btn btn-group btn-danger">Geri</a>
    </div>
</div>