@model List<Employee>
@{
    var deleteMessage = @TempData["Silinen Kategori"]?.ToString();
}
<h2 style="color:black; text-align:center">Employee</h2>

@if (!string.IsNullOrEmpty(deleteMessage))
{
    <h3 style="color:red">@deleteMessage isimli Kategori Silinmiştir.</h3>
}

<a asp-action="Create" asp-controller="Employee" class="btn btn-success">Çalışan Ekle</a>
<br /><br />
<div class="row">
    <div class="col-6">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Çalışan ID</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Ünvan</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Title</td>
                    <td><a asp-controller="Employee" asp-action="Detail" asp-route-id="@item.EmployeeId" class="btn btn-block btn-info">Detay</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
