@model Category
<input asp-for="CategoryId" type="hidden" />
<h2 style="color:black; text-align:center">Category Detail</h2>

<a asp-action="Delete" asp-controller="Category" asp-route-id=@Model.CategoryId class="btn btn-danger">Kategoriyi Sil</a>
<a asp-action="Update" asp-controller="Category" asp-route-id="@Model.CategoryId" class="btn btn-warning">Kategoriyi Güncelle</a>
<label>Ürün Ekle</label>
<input type="checkbox" class="form-check-inline" id="cb-productAdd" value="Ürün Ekle" />
<br />
<form id="frm-add" style="display:none">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Ürün Adı" id="in-productName" />
        </div>
        <div class="col">
            <input type="number" min="0" max="99999" class="form-control" id="in-unitPrice" placeholder="Fiyatı" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="submit" class="btn btn-success form-control" id="btn-productAdd" value="Ürün Ekle" />
        </div>

    </div>
</form>

<h1>@Model.CategoryName</h1>
<h3>@Model.Description</h3>

<div class="row">
    <div class="col-6">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Siparişleri</th>
                    <th>Hacim</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody id="tbl-body">
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.Category.CategoryName</td>
                        <td>@item.ProductName</td>
                        <td>@($"{item.UnitPrice:c2}")</td>
                        <td>@item.OrderDetails.Count</td>
                        <td>@item.OrderDetails.Sum(x => x.UnitPrice * x.Quantity * (decimal)(1 - x.Discount))</td>
                        <td><a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" class="btn btn-block btn-info">Detay</a></td>
                        <td><input type="button" class="btn btn-danger btn-delete" value="Sil!" data-toggle="modal" data-target="#confirm-delete" data-id="@item.ProductId" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-2 mt-2">
        <a asp-controller="Category" asp-action="Index" class="btn btn-group btn-danger">Geri</a>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Silme Onayı</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">
                <p>Ürün Silinecektir. Bu işlemin geri dönüşü yoktur.</p>
                <p>Emin misiniz ?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <a class="btn btn-danger btn-ok">SİL</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var productId = 0;
        $('.btn-delete').click(function () {
            productId = $(this).attr("data-id");
        });
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').on('click', productDelete);
        });
        function productDelete() {
            console.log(productId);
            $.ajax({
                "headers": {
                    "Content-Type": "application/json;"
                },
                url: '@Url.Action("Delete","ProductApi")' + '/' + productId,
                type: "POST",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        }

        $("#cb-productAdd").click(function () {
            $("#frm-add").toggle(500);
        });
        $("#frm-add").submit(function (e) {
            e.preventDefault();

            var model = {
                productName: $("#in-productName").val(),
                unitPrice: $("#in-unitPrice").val(),
                categoryId: $("#CategoryId").val()
            };
            $.ajax({
                "headers": {
                    "Content-Type": "application/json;"
                },
                url: '@Url.Action("Add","ProductApi")',
                type: "POST",
                data: JSON.stringify(model),
                dataType: "json",
                success: function (response) {
                    //alert(response.message);
                    //window.location.href = `${categoryDetailUrl}/${response.model.categoryId}`; //1. Yazım Şekli
                    ///*window.location.href = categoryDetailUrl + '/' + response.model.categoryId;*/ //2. Yazım Şekli
                    console.log(response);

                    var model = response.model;
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    var td2 = document.createElement("td");
                    var td3 = document.createElement("td");
                    var td4 = document.createElement("td");
                    var td5 = document.createElement("td");
                    var td6 = document.createElement("td");
                    var td7 = document.createElement("td");
                    var aLink = document.createElement("a");


                    $(td1).html("@Model.CategoryName");
                    $(td2).html(model.productName);
                    $(td3).html(model.unitPrice);
                    $(td4).html("0");
                    $(td5).html("0");
                    var detailUrl = '@Url.Action("Detail","Product")';
                    $("<a></a>")
                        .attr("href", `${detailUrl}/${model.productId}`)
                        .addClass("btn btn-block btn-info")
                        .html("Detay").appendTo(td6);
                    /*$(td6).append(aLink);*/
                    var deleteUrl = '@Url.Action("Delete", "Product")';
                    $("<input></input>")
                        .attr("href", `${deleteUrl}/${model.productId}`)
                        .removeData("#")
                    $(tr).append(td1).append(td2).append(td3).append(td4).append(td5).append(td6).append(td7).appendTo("#tbl-body");
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            }).fail;

        });


    </script>
}