@model Category
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="color:black; text-align:center">Category Detail</h2>

<a asp-action="Delete" asp-controller="Category" asp-route-id=@Model.CategoryId class="btn btn-danger">Kategoriyi Sil</a>
<a asp-action="Update" asp-controller="Category" asp-route-id="@Model.CategoryId" class="btn btn-warning">Kategoriyi Güncelle</a>

<h1>@Model.CategoryName</h1>
<h3>@Model.Description</h3>

<div class="row">
    <div class="col-6">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Kategori Adı</th>
                    <th>Siparişleri</th>
                    <th>Hacim</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Category.CategoryName</td>
                        <td>@item.OrderDetails.Count</td>
                        <td>@item.OrderDetails.Sum(x => x.UnitPrice * x.Quantity * (decimal)(1 - x.Discount))</td>
                        <td><a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" class="btn btn-block btn-info">Detay</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="col-2">
        <a asp-controller="Category" asp-action="Index" class="btn btn-group btn-danger">Geri</a>
    </div>
</div>