@model List<Category>
@{
    var deleteMessage = @TempData["Silinen Kategori"]?.ToString();
}
<h2 style="color:black; text-align:center">Category</h2>

@if (!string.IsNullOrEmpty(deleteMessage))
{
    <h3 style="color:red">@deleteMessage isimli Kategori Silinmiştir.</h3>
}

<a asp-action="Create" asp-controller="Category" class="btn btn-success">Kategori Ekle</a>

<div class="row">
    <div class="col-6">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Açıklama</th>
                    <th>Ürün Sayısı</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                        <td>@item.Products.Count</td>
                        <td><a asp-controller="Category" asp-action="Detail" asp-route-id="@item.CategoryId" class="btn btn-block btn-info">Detay</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
