@model ProductViewModel
<h2 style="text-align:center">Product Detail</h2>
<div class="bg-info">@TempData["Message"]</div>


<br />
<div class="container">
    <div class="row">
        <div class="col-1">
            <a asp-controller="Product" asp-action="Update" asp-route-id="@Model.ProductId" class="btn btn-warning">Update</a>
        </div>
        <div class="col-1 ">
            <input type="button" class="btn btn-danger" value="Sil!" data-toggle="modal" data-target="#confirm-delete" />
        </div>
    </div><br />
    <div class="row">

        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Kategori Adı</th>
                    <th>Tedarikçisi</th>
                    <th> Birim Fiyatı </th>

                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td>@Model.ProductName</td>
                    <td>@(Model.CategoryId == null ? Html.Raw( @"<u>Kategorisi Yok.</u>") :  Model.CategoryName)</td>
                    <td>@(Model.SupplierId == null ? Html.Raw( @"<u>Tedarikçisi Yok.</u>") :  Model.CompanyName)</td>
                    <td>@($"{Model.UnitPrice:c2}")</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div class="row">
        <div class="col-2">
            <a asp-controller="Product" asp-action="Index" asp-route-id="@Model.CategoryId" class="btn btn-danger">Product Geri Dön</a>

        </div>
        <div class="col-4">
            <a asp-controller="Category" asp-action="Detail" asp-route-id="@Model.CategoryId" class="btn btn-danger">Category Geri Dön</a>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Silme Onayı</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">
                <p>Ürün Silinecektir. Bu işlemin geri dönüşü yoktur.</p>
                <p>Emin misiniz ?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <a class="btn btn-danger btn-ok">SİL</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', '@Url.Action("Delete","Product",new { id=Model.ProductId})');
        });
    </script>

}
