@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="color:black; text-align:center">Product</h2>
<h2>Toplam Kayıt :  @Model.Count</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table-bordered text-center">
                <thead>
                    <tr>
                        <th> Kategori Adı </th>
                        <th> Ürün Adı </th>
                        <th> Fiyat </th>
                        <th> Tedarikçisi </th>
                        <th> Detay </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Category?.CategoryName</td>
                            <td>@item.ProductName</td>
                            <td>@($"{item.UnitPrice:c2}")</td>
                            <td>@(item.Supplier == null ? Html.Raw(@"<u>Tedarikçisi Yok.</u>") : item.Supplier.CompanyName)</td>
                            <td><a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" class="btn btn-block btn-info">Detay</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="button" value="Önceki Sayfa" class=" btn btn-success page" id="btn-onceki" />
            @ViewBag.Page/@ViewBag.Limit
            <input type="button" value="Sonraki Sayfa" class=" btn btn-success page" id="btn-sonraki" />
        </div>
    </div>
</div>
@section Scripts
{
    <script>
    var limit = @ViewBag.Limit;
    var page = @ViewBag.Page;
    $("#btn-onceki").click(function () {
        if (page >1) {
            page -= 1;
            /*var url = "product/index?page=" + page;*/
            var url2 = '@Url.Action("Index", "Product",new  {page =ViewBag.Page-1})';
            window.location.href = url2;
        }
    });
        $("#btn-sonraki").click(function () {
            if (page<limit) {
                var url2 = '@Url.Action("Index", "Product",new  {page =ViewBag.Page+1})';
            window.location.href = url2;
            }

    });
    </script>
}
